doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title PixelPainter Test
		link(rel='stylesheet', href='game.css')
		link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700',rel='stylesheet', type='text/css')
	body
		div#game-frame
			h1#game-title REACTIONS
			div#game-menu-container
				ul#game-menu
					li.menu-item#easy Easy
					li.menu-item#medium Medium
					li.menu-item#hard Hard
				canvas#game-canvas
				h2#score 0
			script(src='game.js')
