doctype html
html(lang='en')
	head
		meta(charset='utf-8')
		title PixelPainter Test
		link(rel='stylesheet', href='game.css')
	body(style='background-color:rgba(236, 240, 241, 1.0)')
		canvas#game
		script(src='game.js')
